<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Módulo de Creación de usuarios
					<span class="panel-desc">Por favor diligencie los datos a continuación </span>
					</h3>
				</div>
				<div class="panel-body">
					<form id="ModCreaUser" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
						<div class="row row-lg">
							<div class="col-lg-6 form-horizontal">
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Nombre Completo
										<span class="required">*</span>
									</label>
									<div class=" col-lg-12 col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="icon wb-user" aria-hidden="true"></i>
											</span>
											<input type="text" class="form-control" name="NombreUsuario" placeholder="Nombre Completo" required="" data-fv-field="username">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Cargo
										<span class="required">*</span>
									</label>
									<div class=" col-lg-12 col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="icon wb-user" aria-hidden="true"></i>
											</span>
											<input type="text" class="form-control" name="cargo" placeholder="Cargo" required="" data-fv-field="cargo">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Email
										<span class="required">*</span>
									</label>
									<div class="col-lg-12 col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="icon wb-envelope" aria-hidden="true"></i>
											</span>
											<input type="email" class="form-control" name="email" placeholder="email@email.com" required="" data-fv-field="email">
										</div>
									</div>
								</div>
								
							</div>
							<!-- COLUMNA 2 -->
							<div class="col-lg-6 form-horizontal">
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Nombre de Usuario
										<span class="required">*</span>
									</label>
									<div class="col-lg-12 col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="icon fa-user" aria-hidden="true"></i>
											</span>
											<input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required="" data-fv-field="username">
										</div>
										<small class="help-block" data-fv-validator="notEmpty" data-fv-for="username" data-fv-result="NOT_VALIDATED" style="display: none;">El Nombre de Usuario es Obligatorio</small>
										<small class="help-block" data-fv-validator="emailAddress" data-fv-for="username" data-fv-result="NOT_VALIDATED" style="display: none;">El Nombre de Usuario utilizado NO es Válido</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Contraseña
										<span class="required">*</span>
									</label>
									<div class="col-lg-12 col-sm-9">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="icon wb-lock" aria-hidden="true"></i>
											</span>
											<input type="password" class="form-control" name="password" placeholder="Contraseña" required="" data-fv-field="password">
										</div>
										<small class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="NOT_VALIDATED" style="display: none;">La contraseña es Obligatoria</small>
										<!-- <small class="help-block" data-fv-validator="stringLength" data-fv-for="password" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small> -->
									</div>
								</div>
<!-- 								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Perfil</label>
									<div class="col-lg-12 col-sm-9">
										<select class="form-control" id="Perfil" name="Perfil" required="" data-fv-field="Perfil">
											<option value="">Seleccione un Perfil</option>
											<option value="1">1</option>
											<option value="2">2</option>
											
										</select>
										<small class="help-block" data-fv-validator="notEmpty" data-fv-for="company" data-fv-result="NOT_VALIDATED" style="display: none;">Please company</small>
									</div>
								</div>
							<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Centro Zonal</label>
									<div class="col-lg-12 col-sm-9">
										<select class="form-control" id="CentroZonal" name="CentroZonal" required="" data-fv-field="CentroZonal">
											<option value="">Seleccione un Centro Zonal</option>
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
										<small class="help-block" data-fv-validator="notEmpty" data-fv-for="company" data-fv-result="NOT_VALIDATED" style="display: none;">Please company</small>
									</div>
								</div> -->
								<div class="form-group">
									<label class="col-lg-12 col-sm-3 control-label">Pefil
										<span class="required">*</span>
									</label>
									<div class="col-lg-12 col-sm-9">
										<div class="input-group">
											<div class="radio-inline">
												<div class="radio-custom radio-primary radio-inline">
													<input type="radio" id="perfil1" name="chkperfil" value="awesome" required="" data-fv-field="porto_is">
													<label for="Perfil1">Perfil 1</label>
												</div>
											</div>
											<div class="radio-inline">
												<div class="radio-custom radio-primary radio-inline">
													<input type="radio" id="perfil1" name="chkperfil" value="very-awesome" data-fv-field="porto_is">
													<label for="Perfil2">Perfil 2</label>
												</div>
											</div>
										</div>
										<small class="help-block" data-fv-validator="notEmpty" data-fv-for="porto_is" data-fv-result="NOT_VALIDATED" style="display: none;">Please specify at least one</small>
									</div>
								</div>
							</div>
							<div class="form-group col-lg-12 text-right padding-top-m">
								<button type="submit" class="btn btn-primary" id="validateButton1">Crear Usuario</button>
							</div>
						</div>
								</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>